.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
color: white;
text-decoration: none;
padding: 15px;
display: block;
text-align: center;
}

.navbar a:hover {
    background-color: rgb(88, 88, 88);
}

.navbar li{
    float: right;
}

body {
    margin: 0px;
}

main {
    margin: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(122, 122, 122);
    padding-left: 15px;
    color: white;
}