.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
color: rgb(109, 109, 109);
text-decoration: none;
padding: 15px;
display: block;
text-align: center;
}

.navbar a:hover {
    text-decoration: underline;
    color: rgb(172, 172, 172);

}

.navbar li{
    float: right;
    font-weight: bold;
    font-size: 20px;
}

body {
    margin: 0px;
    font-family: "Gabarito", sans-serif;
}

main {
    margin: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(109, 109, 109);
}

#home {

}