.container {
    position: sticky;
    top:0;
    background-color: white;
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
color: rgb(109, 109, 109);
text-decoration: none;
padding: 15px;
display: block;
text-align: center;
}

.navbar a:hover {
    text-decoration: underline;
    color: rgb(172, 172, 172);

}

.navbar li{
    float: right;
    font-weight: bold;
    font-size: 20px;
}

body {
    margin: 0px;
    font-family: "Gabarito", sans-serif;
}

main {
    margin: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(109, 109, 109);
}

h3 {
    font-size: 100px;
    text-align: center;
}

#Home {
    padding-top: 200px;
    display: flex;
    padding-left: 100px;
    justify-content: space-between;
}

#allen-headshot {
    width: 400px;
    height: 400px;
    border-radius: 200px;
}
#short-blurb {
    margin-top: -120px;
}

#Skills {
    margin-top: 500px;
    display: flex;
    width: 100px;
    height: 100px;
}

html {
    scroll-behavior: smooth;
}