.container {
    position: sticky;
    top:0;
    background-color: white;
}



.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
color: rgb(109, 109, 109);
text-decoration: none;
padding: 15px;
display: block;
text-align: center;
}

.navbar a:hover {
    text-decoration: underline;
    color: rgb(172, 172, 172);

}

.navbar li{
    float: right;
    font-weight: bold;
    font-size: 20px;
}

body {
    margin: 0px;
    font-family: "Gabarito", sans-serif;
}

main {
    margin: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(109, 109, 109);
}

h3 {
    font-size: 100px;
    text-align: center;
    margin-top: 100px;
}

#Home {
    padding-top: 200px;
    display: flex;
    padding-left: 100px;
    justify-content: space-around;
}

#allen-headshot {
    width: 400px;
    height: 400px;
    border-radius: 200px;
    
}
#short-blurb {
    margin-top: -120px;
    margin-left: 200px;
    font-size: 20px;
}

#Skills {
    display: flex;
    width: 100px;
    height: 100px;
    margin: auto;
    justify-content: center;
    margin-bottom: 200px;
    
}



.skills-header {
    padding-top: 400px;
}

.button, .buttonthree, .buttontwo {
    font-family: "Gabarito", sans-serif;
    width: 120px;
    height: 30px;
    font-size: 20px;
}

.buttontwo {
    margin-top: -20px;
}

html {
    scroll-behavior: smooth;
}

#skills-blurb {
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
   font-size: 20px;
   margin-top: -90px;
   padding-bottom: 100px;
}

#Projects {
    justify-content: space-around;
    display: flex;
}

#project1, #project2, #project3  {
    width: 300px;
    height: 400px;
    border: 4px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#project1-photo, #project2-photo, #project3-photo  {
    width: 100%;
    display: block;
    border-radius: 9px;
}

#project-title, #project2-title, #project3-title   {
    text-align: center;
    font-size: 30px;
    margin-bottom: -10px;
    margin-top: 0;
    
}

#project-description, #project2-description, #project3-description  {
    padding-bottom: 40px;
    text-align: center;
}

#project2-photo {
    height: 210px;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    width: 100%;
    height: 100px;
    background-color: rgb(172, 172, 172);
    display: flex;
}

#linkedin-photo, #github-photo {
    width: 50px;
    height: 40px;
}